<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
  
     <servlet>
    <description></description>
    <display-name>NutritionalSourceServletCreate</display-name>
    <servlet-name>NutritionalSourceServletCreate</servlet-name>
    <servlet-class>nutritionalsource.web.servlet.NutritionalSourceServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalSourceServletCreate</servlet-name>
    <url-pattern>/NutritionalSourceServletCreate</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <display-name>NutritionalSourceServletDelete</display-name>
    <servlet-name>NutritionalSourceServletDelete</servlet-name>
    <servlet-class>nutritionalsource.web.servlet.NutritionalSourceServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalSourceServletDelete</servlet-name>
    <url-pattern>/NutritionalSourceServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>NutritionalSourceServletRead</display-name>
    <servlet-name>NutritionalSourceServletRead</servlet-name>
    <servlet-class>nutritionalsource.web.servlet.NutritionalSourceServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalSourceServletRead</servlet-name>
    <url-pattern>/NutritionalSourceServletRead</url-pattern>
  </servlet-mapping>
  
    
      <servlet>
    <description></description>
    <display-name>NutritionalSourceServletUpdate</display-name>
    <servlet-name>NutritionalSourceServletUpdate</servlet-name>
    <servlet-class>nutritionalsource.web.servlet.NutritionalSourceServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalSourceServletUpdate</servlet-name>
    <url-pattern>/NutritionalSourceServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>AdministratorServletCreate</display-name>
    <servlet-name>AdministratorServletCreate</servlet-name>
    <servlet-class>administrator.web.servlet.AdministratorServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServletCreate</servlet-name>
    <url-pattern>/AdministratorServletCreate</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <description></description>
    <display-name>AdministratorServletDelete</display-name>
    <servlet-name>AdministratorServletDelete</servlet-name>
    <servlet-class>administrator.web.servlet.AdministratorServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServletDelete</servlet-name>
    <url-pattern>/AdministratorServletDelete</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>AdministratorServletRead</display-name>
    <servlet-name>AdministratorServletRead</servlet-name>
    <servlet-class>administrator.web.servlet.AdministratorServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServletRead</servlet-name>
    <url-pattern>/AdministratorServletRead</url-pattern>
  </servlet-mapping>
  
  
  
      <servlet>
    <description></description>
    <display-name>AdministratorServletUpdate</display-name>
    <servlet-name>AdministratorServletUpdate</servlet-name>
    <servlet-class>administrator.web.servlet.AdministratorServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorServletUpdate</servlet-name>
    <url-pattern>/AdministratorServletUpdate</url-pattern>
  </servlet-mapping>
  
  
       <servlet>
    <description></description>
    <display-name>RecipientServletCreate</display-name>
    <servlet-name>RecipientServletCreate</servlet-name>
    <servlet-class>recipient.web.servlet.RecipientServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientServletCreate</servlet-name>
    <url-pattern>/RecipientServletCreate</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <description></description>
    <display-name>RecipientServletDelete</display-name>
    <servlet-name>RecipientServletDelete</servlet-name>
    <servlet-class>recipient.web.servlet.RecipientServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientServletDelete</servlet-name>
    <url-pattern>/RecipientServletDelete</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>RecipientServletRead</display-name>
    <servlet-name>RecipientServletRead</servlet-name>
    <servlet-class>recipient.web.servlet.RecipientServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientServletRead</servlet-name>
    <url-pattern>/RecipientServletRead</url-pattern>
  </servlet-mapping>
  
  
  
      <servlet>
    <description></description>
    <display-name>RecipientServletUpdate</display-name>
    <servlet-name>RecipientServletUpdate</servlet-name>
    <servlet-class>recipient.web.servlet.RecipientServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientServletUpdate</servlet-name>
    <url-pattern>/RecipientServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <description></description>
    <display-name>IncomeServletCreate</display-name>
    <servlet-name>IncomeServletCreate</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletCreate</servlet-name>
    <url-pattern>/IncomeServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>IncomeServletRead</display-name>
    <servlet-name>IncomeServletRead</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletRead</servlet-name>
    <url-pattern>/IncomeServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>IncomeServletDelete</display-name>
    <servlet-name>IncomeServletDelete</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletDelete</servlet-name>
    <url-pattern>/IncomeServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>IncomeServletUpdate</display-name>
    <servlet-name>IncomeServletUpdate</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletUpdate</servlet-name>
    <url-pattern>/IncomeServletUpdate</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <description></description>
    <display-name>AddressServletCreate</display-name>
    <servlet-name>AddressServletCreate</servlet-name>
    <servlet-class>address.web.servlet.AddressServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServletCreate</servlet-name>
    <url-pattern>/AddressServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddressServletRead</display-name>
    <servlet-name>AddressServletRead</servlet-name>
    <servlet-class>address.web.servlet.AddressServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServletRead</servlet-name>
    <url-pattern>/AddressServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddressServletDelete</display-name>
    <servlet-name>AddressServletDelete</servlet-name>
    <servlet-class>address.web.servlet.AddressServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServletDelete</servlet-name>
    <url-pattern>/AddressServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddressServletUpdate</display-name>
    <servlet-name>AddressServletUpdate</servlet-name>
    <servlet-class>address.web.servlet.AddressServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServletUpdate</servlet-name>
    <url-pattern>/AddressServletUpdate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>EligibilityServletCreate</display-name>
    <servlet-name>EligibilityServletCreate</servlet-name>
    <servlet-class>eligibility.web.servlet.EligibilityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EligibilityServletCreate</servlet-name>
    <url-pattern>/EligibilityServletCreate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>EligibilityServletRead</display-name>
    <servlet-name>EligibilityServletRead</servlet-name>
    <servlet-class>eligibility.web.servlet.EligibilityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EligibilityServletRead</servlet-name>
    <url-pattern>/EligibilityServletRead</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>EligibilityServletUpdate</display-name>
    <servlet-name>EligibilityServletUpdate</servlet-name>
    <servlet-class>eligibility.web.servlet.EligibilityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EligibilityServletUpdate</servlet-name>
    <url-pattern>/EligibilityServletUpdate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>EligibilityServletDelete</display-name>
    <servlet-name>EligibilityServletDelete</servlet-name>
    <servlet-class>eligibility.web.servlet.EligibilityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EligibilityServletDelete</servlet-name>
    <url-pattern>/EligibilityServletDelete</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>MedicalServletCreate</display-name>
    <servlet-name>MedicalServletCreate</servlet-name>
    <servlet-class>medical.web.servlet.MedicalServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalServletCreate</servlet-name>
    <url-pattern>/MedicalServletCreate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalServletRead</display-name>
    <servlet-name>MedicalServletRead</servlet-name>
    <servlet-class>medical.web.servlet.MedicalServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalServletRead</servlet-name>
    <url-pattern>/MedicalServletRead</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalServletUpdate</display-name>
    <servlet-name>MedicalServletUpdate</servlet-name>
    <servlet-class>medical.web.servlet.MedicalServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalServletUpdate</servlet-name>
    <url-pattern>/MedicalServletUpdate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalServletDelete</display-name>
    <servlet-name>MedicalServletDelete</servlet-name>
    <servlet-class>medical.web.servlet.MedicalServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalServletDelete</servlet-name>
    <url-pattern>/MedicalServletDelete</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>MedicalFacilityServletCreate</display-name>
    <servlet-name>MedicalFacilityServletCreate</servlet-name>
    <servlet-class>medicalfacility.web.servlet.MedicalFacilityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalFacilityServletCreate</servlet-name>
    <url-pattern>/MedicalFacilityServletCreate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalFacilityServletRead</display-name>
    <servlet-name>MedicalFacilityServletRead</servlet-name>
    <servlet-class>medicalfacility.web.servlet.MedicalFacilityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalFacilityServletRead</servlet-name>
    <url-pattern>/MedicalFacilityServletRead</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalFacilityServletUpdate</display-name>
    <servlet-name>MedicalFacilityServletUpdate</servlet-name>
    <servlet-class>medicalfacility.web.servlet.MedicalFacilityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalFacilityServletUpdate</servlet-name>
    <url-pattern>/MedicalFacilityServletUpdate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>MedicalFacilityServletDelete</display-name>
    <servlet-name>MedicalFacilityServletDelete</servlet-name>
    <servlet-class>medicalfacility.web.servlet.MedicalFacilityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalFacilityServletDelete</servlet-name>
    <url-pattern>/MedicalFacilityServletDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>HousingServletCreate</display-name>
    <servlet-name>HousingServletCreate</servlet-name>
    <servlet-class>housing.web.servlet.HousingServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousingServletCreate</servlet-name>
    <url-pattern>/HousingServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HousingServletRead</display-name>
    <servlet-name>HousingServletRead</servlet-name>
    <servlet-class>housing.web.servlet.HousingServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousingServletRead</servlet-name>
    <url-pattern>/HousingServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HousingServletDelete</display-name>
    <servlet-name>HousingServletDelete</servlet-name>
    <servlet-class>housing.web.servlet.HousingServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousingServletDelete</servlet-name>
    <url-pattern>/HousingServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HousingServletUpdate</display-name>
    <servlet-name>HousingServletUpdate</servlet-name>
    <servlet-class>housing.web.servlet.HousingServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousingServletUpdate</servlet-name>
    <url-pattern>/HousingServletUpdate</url-pattern>
  </servlet-mapping>

 <servlet>
    <description></description>
    <display-name>NutritionalServletCreate</display-name>
    <servlet-name>NutritionalServletCreate</servlet-name>
    <servlet-class>nutritional.web.servlet.NutritionalServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalServletCreate</servlet-name>
    <url-pattern>/NutritionalServletCreate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>NutritionalServletRead</display-name>
    <servlet-name>NutritionalServletRead</servlet-name>
    <servlet-class>nutritional.web.servlet.NutritionalServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalServletRead</servlet-name>
    <url-pattern>/NutritionalServletRead</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>NutritionalServletDelete</display-name>
    <servlet-name>NutritionalServletDelete</servlet-name>
    <servlet-class>nutritional.web.servlet.NutritionalServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalServletDelete</servlet-name>
    <url-pattern>/NutritionalServletDelete</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <description></description>
    <display-name>NutritionalServletUpdate</display-name>
    <servlet-name>NutritionalServletUpdate</servlet-name>
    <servlet-class>nutritional.web.servlet.NutritionalServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalServletUpdate</servlet-name>
    <url-pattern>/NutritionalServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>NutritionalFunds</display-name>
    <servlet-name>NutritionalFunds</servlet-name>
    
    <servlet-class>nutritional.web.servlet.NutritionalFunds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionalFunds</servlet-name>
    <url-pattern>/NutritionalFunds</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RecipientIncomes</display-name>
    <servlet-name>RecipientIncomes</servlet-name>
    
    <servlet-class>income.web.servlet.RecipientIncomes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientIncomes</servlet-name>
    <url-pattern>/RecipientIncomes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RecipientGrossIncomes</display-name>
    <servlet-name>RecipientGrossIncomes</servlet-name>
    
    <servlet-class>income.web.servlet.RecipientGrossIncomes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipientGrossIncomes</servlet-name>
    <url-pattern>/RecipientGrossIncomes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Managers</display-name>
    <servlet-name>Managers</servlet-name>
    
    <servlet-class>administrators.web.servlet.Managers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Managers</servlet-name>
    <url-pattern>/Managers</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
